.homepage-link-at-top-of-page {
    position: absolute !important;
    width: 50px !important;
    height: 50px !important;
    top: 0 !important;
    left: 0 !important;
}

.logout-button-at-bottom-of-page {
    position: absolute !important;
    bottom: 50px !important;
    left: 50px !important;
}